* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #23272a;
}

.container{
    width:90%;
    margin:0 auto;
}

.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

.botton {
    display: inline-block;
    border-radius: 40px;
    padding: 16px 32px;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
}

/* header */
header{
    height:80px;
    line-height: 80px;
    background-color:#255EE8;
}

nav .logo, nav ul{
    float:left;
}

nav .logo img{
    vertical-align: middle;
}

nav .logo{
    width:15%;
}

nav ul{
    list-style-type: none;
    width: 70%;
    text-align: center;    
}

nav ul li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    color: white;
}

#accedi{
    width: 15%;
    float:right;
    
}

#accedi .botton{
    padding: 10px 14px;
    background-color: white;
    font-size: 14px;
    color: #23272a;
    display: inline;
}
/* /header */

/* corpo */

/* jumbotron */
#jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 546px;
}
#jumbotron .container{
    text-align: center;
    max-width: 780px;
    padding-top:100px;
    color: white;
}

h1{
    font-size: 46px;
}

.container p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.6;
}

#jumbotron a{
    margin-top: 24px;
    background-color: white;
    color: black;
}

#jumbotron .black-white{
    background-color: none;
    color: none;
    background-color: black;
    color: white;
}
/* /jumbotron */