/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #23272a;
}

/* header */
.container{
    width:90%;
    margin:0 auto;
}

.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

.botton {
    display: inline-block;
    border-radius: 40px;
    padding: 16px 32px;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
    margin-top: 24px;
}

header{
    height:80px;
    line-height: 80px;
    background-color:#255EE8;
}

nav .logo, nav ul{
    float:left;
}

nav .logo img{
    vertical-align: middle;
}

nav .logo{
    width:15%;
}

nav ul{
    list-style-type: none;
    width: 70%;
    text-align: center;    
}

nav ul li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    color: white;
}

#accedi{
    width: 15%;
    float:right;
}

#accedi .botton{
    padding: 10px 14px;
    background-color: white;
    font-size: 14px;
    color: #23272a;
    display: inline;
}
/* /header */

/* corpo */

/* jumbotron */
#jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 546px;
}
#jumbotron .container{
    text-align: center;
    max-width: 780px;
    padding-top:100px;
    color: white;
}

h1{
    font-size: 4vw;
}

.container p{
    
    font-size: 20px;
    line-height: 1.6;
}

#jumbotron a{
    margin-top: 24px;
    background-color: white;
    color: black;
}

#jumbotron .black-white{
    background-color: none;
    color: none;
    background-color: black;
    color: white;
}
/* /jumbotron */

/* corpo */

.section-due{
    width: 100%;
    height: 100vh;
}

#section-left .image-top{
    text-align: center;
    max-width: 780px;
    padding-top:100px;
    vertical-align: baseline;
    display: inline;
}

.image-top img{
    padding-top:100px;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    right: 0px;
}

#reverse, .image-top img{
    padding-top:100px;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    left: 0px;
}

.section-left img{
    padding-top:100px;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    right: 0px;
}

#section-right img{
    padding-top:100px;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    right: 0px;
}

 #section-left .image-top{
    position: relative;
    text-align: center;
    max-width: 580px;
    padding-top:100px;
    display: inline;
    margin-top: auto;
    vertical-align: baseline;
    padding-left: 50px;
    left: 0px;
    margin-right: 70px;
 }
    
.text-right{
    text-align: center;
    max-width: 480px;
    padding-top:135px;
    float: right;
    text-align:left;
    vertical-align: baseline;
    display: inline;
    position: absolute;
}

.text-left{
    text-align: center;
    max-width: 480px;
    padding-top:135px;
    float: right;
    text-align:right;
    vertical-align: baseline;
    display: inline;
    position: absolute;
}

#section-right{
    background-color: #F6F6F6;
}   

#onda-su .wave-1hkxOo{
    margin-bottom: -5px;  
}

#onda-giù .wave-1hkxOo{
    color: white;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 3vw;
    margin: 0;
    padding: 0;
}

p{
    line-height:1.6;
    padding-top: 40px;
}

.wave-1hkxOo{
    color: #F6F6F6;
    margin-top: -100px;
}

#banner{
    height: 100vh;
    background-color: #F6F6F6;
    top: 0;
    right: 0;
    position: relative;
    padding-top:1300px;
    margin-top: -5px;
    overflow: hidden;
}

#banner h2 {
    text-align: center;
    font-size: 3vw;
    margin-top: 50px;
}

h3{
    text-align: center;
    font-size: 2vw;
}

.image-under{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center; 
    text-align: center;
}

#banner img{
    width: 100%;
}
/* /corpo */


footer{
    width: 100%;
    height: 80vh;
    background-color: #23272A;
}




